@media (max-width: 1023px) {
    .introduction {
        width: 100%;
        padding-top: 120px;
        box-sizing: border-box;
        background-image: linear-gradient(
                to top,
                rgba(0, 0, 0, 0) 60%,
                rgba(0, 0, 0, 1)
            ),
            url("./images/background-2.png");
        background-size: cover;
        background-position: center;
        position: relative;
    }

    .title {
        background-image: url("./images/title.png");
    }

    /* ステータスエリア */

    .status {
        width: 100%;
        background-color: black;
        border: 3px solid white;
        border-radius: 7px;
        position: relative;
    }

    .statusArea {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        padding-top: 50px;
        box-sizing: border-box;
    }

    .statusContainer {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        box-sizing: border-box;
    }

    .statusTitleWrapper {
        position: relative;
        width: 100%;
    }

    .statusTitle {
        position: absolute;
        top: -3px;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        width: 100px;
        height: 20px;
        background-image: url("./images/feature.png");
        background-size: contain;
        background-repeat: no-repeat;
    }

    .statusCharacter {
        width: 160px;
        height: 160px;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url("./images/musician-duck.png");
    }

    .statusContent {
        color: white;
        padding: 20px 10px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .statusContent a {
        color: white;
    }

    .introductionDark {
        width: 100%;
        height: 15vh;
        background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0) 10%,
            rgba(0, 0, 0, 1)
        );
        border: none;
    }
}

@media (min-width: 1024px) {
    .introduction {
        width: 100%;
        padding-bottom: 120px;
        box-sizing: border-box;
        background-image: linear-gradient(
                to top,
                rgba(0, 0, 0, 0) 60%,
                rgba(0, 0, 0, 1)
            ),
            url("./images/background-2.png");
        background-size: cover;
        background-position: center;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 130vh;
    }

    .title {
        background-image: url("./images/title.png");
    }

    /* ステータスエリア */

    .statusArea {
        width: 90%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
    }

    .statusCharacter {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .character {
        width: 300px;
        height: 300px;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url("./images/musician-duck.png");
    }

    .statusContainer {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
        padding-top: 50px;
        box-sizing: border-box;
    }

    .status {
        width: 90%;
        background-color: black;
        border: 3px solid white;
        border-radius: 7px;
        position: relative;
    }

    .statusTitleWrapper {
        position: relative;
        width: 100%;
    }

    .statusTitle {
        position: absolute;
        top: -3px;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        width: 200px;
        height: 30px;
        background-image: url("./images/feature.png");
        background-size: contain;
        background-repeat: no-repeat;
    }

    .statusContent {
        color: white;
        padding: 20px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .statusContent a {
        color: white;
    }

    .introductionDark {
        width: 100%;
        height: 15vh;
        background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0) 10%,
            rgba(0, 0, 0, 1)
        );
        border: none;
    }
}
