@font-face {
  font-family: "PixelMplus";
  src: url("../font/PixelMplus10-Regular.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  font-family: "PixelMplus", sans-serif;
}

.body {
  width: 100vw;
}

@media (max-width: 428px) {
  .connector {
    position: relative;
  }
  .connector::before {
    content: "";
    position: absolute;
    top: -10px;
    width: 100vw;
    height: 20px;
    background-color: rgba(0, 0, 0, 1);
    z-index: 2;
  }

  .top {
    position: relative;
    top: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    z-index: 2;
  }

  .top::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 1));
    z-index: 3;
  }

  .topBackground {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 1000vh;
    background: url("../images/index/background-1.png") repeat-y;
    background-size: contain;
    animation: scroll 20s linear infinite;
    z-index: 1;
  }

  @keyframes scroll {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-300vh);
    }
  }

  .topContents {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
    z-index: 5;
    img {
      width: 80%;
      object-fit: contain;
    }
  }
  .titleText {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    svg {
      scale: 1.3;
    }
  }

  .allCharacters {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .hero {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    animation: image-switch-animation-hero 0.5s infinite;
    background-size: cover;
    background-position: center;
    scale: 1.3;
  }

  @keyframes image-switch-animation-hero {
    0% {
      transform: translateX(1%);
      background-image: url("../images/index/hero-walk-1.png");
    }
    100% {
      transform: translateX(-1%);
      background-image: url("../images/index/hero-walk-2.png");
    }
  }

  .princess {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    animation: image-switch-animation-princess 0.5s infinite;
    background-size: cover;
    background-position: center;
    scale: 1.2;
  }

  @keyframes image-switch-animation-princess {
    0% {
      transform: translateY(2%);
      background-image: url("../images/index/princess-walk-1.png");
    }
    100% {
      transform: translateY(0%);
      background-image: url("../images/index/princess-walk-2.png");
    }
  }

  .sakuraWitch {
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    img {
      object-fit: contain;
      animation: hop 0.2s ease infinite alternate-reverse;
    }
  }

  .musicianDuck {
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    img {
      object-fit: contain;
      animation: hop 0.2s ease infinite alternate-reverse;
    }
  }

  @keyframes hop {
    0% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(5%);
    }
  }

  .pageMoveButtons {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .backButtonWrapper {
    position: fixed;
    bottom: 100px;
    right: 0;
    z-index: 1000;
  }

  .arrowWrapper {
    animation: floating-y 1s ease-in-out infinite alternate-reverse;
  }

  @keyframes floating-y {
    0% {
      transform: translateY(-10%);
    }
    100% {
      transform: translateY(10%);
    }
  }

  .selfIntroduction {
    width: 100%;
    padding-top: 80px;
    box-sizing: border-box;
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0) 60%,
        rgba(0, 0, 0, 1)
      ),
      url("../images/index/background-2.png");
    background-size: cover;
    background-position: center;
    position: relative;
  }

  .selfIntroductionTitle {
    width: 70%;
    padding: 0 10px;
    box-sizing: border-box;
    img {
      width: 100%;
      object-fit: contain;
    }
  }

  .statusArea {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .statusTitle {
    width: 100%;
    position: absolute;
    top: -10px;
    left: 0;
    z-index: 10;
    color: black;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .status {
    width: 90%;
    background-color: black;
    border: 3px solid white;
    border-radius: 7px;
    position: relative;
  }

  .statusHero {
    width: 30%;
    img {
      width: 100%;
      object-fit: contain;
    }
  }

  .statusContent {
    color: white;
    padding: 20px 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px;

    a {
      color: white;
    }
  }

  .selfIntroductionDark {
    width: 100%;
    height: 15vh;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 10%,
      rgba(0, 0, 0, 1)
    );
    border: none;
  }

  .history {
    width: 100%;
    padding-top: 80px;
    box-sizing: border-box;
    background-color: black;
    background-size: cover;
    background-position: center;
    position: relative;
  }

  .historyTitle {
    width: 70%;
    padding: 0 10px;
    box-sizing: border-box;
    img {
      width: 100%;
      object-fit: contain;
    }
  }

  .historyWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
    padding: 50px 0;
    background-image: url("../images/index/board.png");
    background-size: contain;
  }

  .historyWrapperInner {
    width: 82%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 7px;
    background: #ffe6a1;
  }

  .historyContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    font-size: 16px;
    & p {
      white-space: pre-wrap;
    }
  }


  .historyMetadata {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: bold;
  }

  .historyPeriod {
    display: flex;
    width: 100%;
    font-size: 22px;
    gap: 5px;
    align-items: baseline;
  }
  .historyPeriodCircle {
    display: inline-block;
    color: rgba(224, 152, 67, 1);
  }


  .historyDetails {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .articles {
    width: 100%;
    background-color: black;
    padding-top: 80px;
  }

  .articlesWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
  }

  .article {
    width: 100%;
    height: auto;
    background-image: url("../images/index/board.png");
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    box-sizing: border-box;
    img {
      width: 100%;
      object-fit: contain;
      display: inline-block;
      margin: 0 auto;
    }
  }
}

.bottom {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 100px 40px;
  box-sizing: border-box;
  background: url("../images/index/background-1.png");
  background-size: cover;
  a {
    display: inline-block;
    color: white;
    z-index: 10;
    text-decoration: none;
    font-size: 24px;
  }
}

.bottomBackground {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.95) 10%,
    rgba(0, 0, 0, 0.3)
  );
  z-index: 3;
}

.snsContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  z-index: 10;
}

@media (min-width: 429px) {
}
