@font-face {
  font-family: "PixelMplus";
  src: url("../font/PixelMplus10-Regular.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  font-family: "PixelMplus", sans-serif;
}

.body {
  width: 100vw;
}

@media (max-width: 428px) {
}

@media (min-width: 429px) {
}
