@media (max-width: 1023px) {
    .area {
        width: 100vw;
    }

    .titleWrapper {
        width: 100vw;
        height: 100px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding-left: 10px;
        box-sizing: border-box;
        margin: 80px 0 40px 0;
    }

    .title {
        width: 100%;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .connector {
        position: relative;
    }

    .connector::before {
        content: "";
        position: absolute;
        top: -10px;
        width: 100vw;
        height: 20px;
        background-color: rgba(0, 0, 0, 1);
        z-index: 2;
    }
}

@media (min-width: 1024px) {
    .area {
        width: 80vw;
        min-height: 100vh;
        margin: 0 auto;
    }

    .titleWrapper {
        width: 80vw;
        height: 100px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding-left: 10%;
        box-sizing: border-box;
        margin: 80px 0 40px 0;
    }

    .title {
        width: 375px;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .connector {
        position: relative;
    }

    .connector::before {
        content: "";
        position: absolute;
        top: -10px;
        width: 100vw;
        height: 20px;
        background-color: rgba(0, 0, 0, 1);
        z-index: 2;
    }
}
