@media (max-width: 428px) {
    .histories {
        width: 100%;
        padding-top: 80px;
        box-sizing: border-box;
        background-color: black;
        background-size: cover;
        background-position: center;
        position: relative;
    }

    .title {
        background-image: url("./images/title.png");
    }

    .historyWrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
        margin-top: 40px;
        padding: 50px 0;
        background-image: url("./images/board.png");
        background-size: contain;
    }

    .historyWrapperInner {
        width: 82%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: 20px;
        box-sizing: border-box;
        border-radius: 7px;
        background: #ffe6a1;
    }

    .history {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        font-size: 16px;
        & p {
            white-space: pre-wrap;
        }
    }

    .historyMetadata {
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-weight: bold;
    }

    .historyPeriod {
        display: flex;
        width: 100%;
        font-size: 22px;
        gap: 5px;
        align-items: baseline;
    }
    .historyPeriodCircle {
        display: inline-block;
        color: rgba(224, 152, 67, 1);
    }

    .historyDetails {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}
